name: Security Scans

on:
  pull_request:
    branches: [ main ]
  push:
    branches: [ main ]

permissions:
  contents: read
  security-events: write

jobs:
  semgrep:
    uses: vachani16/secure-ci-templates/.github/workflows/semgrep.yml@main
