name: Security Scans

on:
  pull_request:
    branches: [ main, master ]
  push:
    branches: [ main, master ]

permissions:
  contents: read
  security-events: write

jobs:
  semgrep:
    uses: vachani16/secure-ci-templates/.github/workflows/semgrep.yml@main
    with:
      scan_path: "."
