name: Security Scan

on:
  pull_request:
  push:
    branches: [ main ]

permissions: 
  contents: read
  security-events: write
  
jobs:
  semgrep:
    uses: vedanshvachani/secure-ci-templates/.github/workflows/semgrep.yml@main
